In [25]:
from chefboost import Chefboost as chef
import pandas as pd

In [26]:
df=pd.read_csv("C:/Users/Admin/Downloads/aml assignment_L.csv")

In [27]:
df

    GDP_Growth  Inflation  Unemployment Recession_Next_Year
0            3          1             5                  No
1            1          4             7                 Yes
2            1          3             7                 Yes
3            3          1             4                  No
4            3          2             6                  No
5            1          4             7                 Yes
6            1          2             6                  No
7            2          5             8                 Yes
8            2          2             5                  No
9            3          1             4                  No
10           0          3             7                 Yes
11           3          2             5                  No
12           1          4             7                 Yes
13           2          2             5                  No
14           2          5             8                 Yes

In [32]:
config = {'algorithm': 'C4.5'}
model = chef.fit(df, target_label='Recession_Next_Year', config=config)

[INFO]:  2 CPU cores will be allocated in parallel running
C4.5  tree is going to be built...
-------------------------
finished in  0.33391642570495605  seconds
-------------------------
Evaluate  train set
-------------------------
Accuracy:  100.0 % on  15  instances
Labels:  ['No' 'Yes']
Confusion matrix:  [[8, 0], [0, 7]]
Precision:  100.0 %, Recall:  100.0 %, F1:  100.0 %

In [34]:
parameters = ['1', '4', '7']
parameters = [int(param) for param in parameters]
prediction = chef.predict(model, param=parameters)
print(prediction)

Yes